---
layout: default
---

{{ content }}

{%- if site.posts.size > 0 -%}
  {%- for post in site.posts -%}
    <article>
      <header onClick="window.location.href='{{post.url | relative_url}}'">
        <strong>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </strong>
        <span class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </span>
      </header>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </article>
  {%- endfor -%}
{%- endif -%}
